<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="#">Zostaw</a>
          <ul>
            <li><a href="/sprawdz/produkt">Produkt</a></li>
            <li><a href="/sprawdz_opak_zbiorcze/opakowanie">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Weź</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="#">Wyświetl</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="#">Przesuń</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="#">Dodaj</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="#">Usuń</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="#">Ustawienia</a></li>
      </ul>
    </div>
  </body>
</html>
