<!DOCTYPE html>
<html>
  <head>
    <title>Sprawdz produkt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/">Zostaw</a>
          <ul>
            <li><a href="/sprawdz/produkt">Produkt</a></li>
            <li><a href="/sprawdz_opak_zbiorcze/opakowanie">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Weź</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Wyświetl</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="/">Przesuń</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Dodaj</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="/">Usuń</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="/">Ustawienia</a></li>
      </ul>
    </div>
  <form action="" method="post">
    <label for="nazwa_produktu">Nazwa</label>
    <input type="text" id="nazwa_produktu" name="nazwa_produktu" placeholder="Wpisz nazwę produktu...">
    <br>
    <label for="barcode_produktu">Barcode</label>
    <input type="text" id="barcode_produktu" name="barcode_produktu" placeholder="Zeskanuj kod kreskowy...">
    <br>
    <input type="submit" value="Dalej">
  </form>
    {% if message %}
    <div style="color: red; white-space: pre-line;">
        <p>{{ message }}</p>
    </div>
    {% endif %}
  <script>
  </script>
  </body>
</html>