<!DOCTYPE html>
<html>
  <head>
    <title>Zostaw opakowanie zbiorcze</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/">Zostaw</a>
          <ul>
            <li><a href="/sprawdz/produkt">Produkt</a></li>
            <li><a href="/sprawdz_opak_zbiorcze/opakowanie">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Weź</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Wyświetl</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="/">Przesuń</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
          </ul>
        </li>
        <li><a href="/">Dodaj</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="/">Usuń</a>
          <ul>
            <li><a href="#">Produkt</a></li>
            <li><a href="#">Opak.zbiorcze</a></li>
            <li><a href="#">Miejsce</a></li>
          </ul>
        </li>
        <li><a href="/">Ustawienia</a></li>
      </ul>
    </div>
    <p>Nazwa opakowania: {{ opakowanie[1] }}</p>
    <p>Kod kreskowy: {{ opakowanie[2] }}</p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Barcode</th>
    </tr>
  </thead>
  <tbody>
   <tr>
     <td>{{ opakowanie[0] }}</td>
      <td id="nazwa_opakowania">{{ opakowanie[1] }}</td>
      <td id="barcode_opakowania">{{ opakowanie[2] }}</td>
   </tr>
  </tbody>
</table>

  <form method="POST" action="{{ url_for('zostaw_opak_zbiorcze.zostaw_opak_zbiorcze', nazwa_opakowania=opakowanie[1],barcode_opakowania=opakowanie[2]) }}">
    <input type="hidden" name="opakowanie" value="{{ opakowanie }}">
    <br><br>
    <label for="opakowanie_zbiorcze">Opakowanie zbiorcze</label>
    <input type="text" name="opakowanie_zbiorcze" id="opakowanie_zbiorcze" placeholder="Zeskanuj lub wpisz opakowanie zbiorcze">
    <br><br>
    <label for="miejsce">Miejsce</label>
    <input type="text" name="miejsce" id="miejsce" placeholder="Zeskanuj lub wpisz miejsce">
    <br><br>
    {% if message %}
    <div style="color: red; white-space: pre-line;">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <div style="display: flex; justify-content: flex-start;">
        <button type="button" onclick="window.location.href='{{ url_for('sprawdz_opak_zbiorcze.sprawdz_opak_zbiorcze') }}'">Wstecz</button>
        <span>&nbsp;</span>
        <button type="submit">Zapisz</button>
    </div>
  </form>
<br>
<br>
</body>
</html>