<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zostaw produkt</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header>
        <h1>Moja Strona</h1>
        <nav>
            <ul>
                <li><a href="index3.html">Strona główna</a></li>
                <li><a href="#">O nas</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <div id="main-content">
        <div class="zostaw-produkt">
            <h2>Zostaw produkt</h2>
            <form action="" method="post">
                <label for="nazwa_produktu">Nazwa:</label>
                <input type="text" id="nazwa_produktu" name="nazwa_produktu">
                <br>
                <label for="barcode_produktu">Barcode:</label>
                <input type="text" id="barcode_produktu" name="barcode_produktu">
                <br>
                <input type="submit" value="Zapisz">
            </form>
        </div>
    </div>
</body>
</html>